<%- include("header.ejs") %> 


    <div class="container bodyBlock">
    <div class="row">
        <% articleObjLog.forEach(function(article){ %>
            <div class="col-md-3 articleBlock">
                <h2><%= article.title %></h2>
                <p><%= article.content %></p>
                    <a class="btn btn-danger" href="/delete/<%= article._id %>" role="button">Delete</a>
                  
              </div>
        <%  }) %>
    </div>
    </div>

<%- include("footer.ejs") %> 